<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuzhi.dao.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.vo.Article">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="SIMPLE_INTRODUCTION" jdbcType="VARCHAR" property="simpleIntroduction" />
    <result column="VISIT_COUNT" jdbcType="INTEGER" property="visitCount" />
    <result column="SHRINK_IMG_URL" jdbcType="VARCHAR" property="shrinkImgUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TITLE, `TYPE`, CREATE_TIME, CONTENT, SIMPLE_INTRODUCTION, VISIT_COUNT, SHRINK_IMG_URL
  </sql>
  <select id="selectByExample" parameterType="com.vo.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
    <if test="forUpdate != null and forUpdate == true">
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from article
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.vo.ArticleExample">
    delete from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vo.Article">
    insert into article (ID, TITLE, `TYPE`, 
      CREATE_TIME, CONTENT, SIMPLE_INTRODUCTION, 
      VISIT_COUNT, SHRINK_IMG_URL)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{simpleIntroduction,jdbcType=VARCHAR}, 
      #{visitCount,jdbcType=INTEGER}, #{shrinkImgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vo.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="simpleIntroduction != null">
        SIMPLE_INTRODUCTION,
      </if>
      <if test="visitCount != null">
        VISIT_COUNT,
      </if>
      <if test="shrinkImgUrl != null">
        SHRINK_IMG_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="simpleIntroduction != null">
        #{simpleIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="visitCount != null">
        #{visitCount,jdbcType=INTEGER},
      </if>
      <if test="shrinkImgUrl != null">
        #{shrinkImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vo.ArticleExample" resultType="java.lang.Long">
    select count(*) from article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update article
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        `TYPE` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.simpleIntroduction != null">
        SIMPLE_INTRODUCTION = #{record.simpleIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.visitCount != null">
        VISIT_COUNT = #{record.visitCount,jdbcType=INTEGER},
      </if>
      <if test="record.shrinkImgUrl != null">
        SHRINK_IMG_URL = #{record.shrinkImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update article
    set ID = #{record.id,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      `TYPE` = #{record.type,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      SIMPLE_INTRODUCTION = #{record.simpleIntroduction,jdbcType=VARCHAR},
      VISIT_COUNT = #{record.visitCount,jdbcType=INTEGER},
      SHRINK_IMG_URL = #{record.shrinkImgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vo.Article">
    update article
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="simpleIntroduction != null">
        SIMPLE_INTRODUCTION = #{simpleIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="visitCount != null">
        VISIT_COUNT = #{visitCount,jdbcType=INTEGER},
      </if>
      <if test="shrinkImgUrl != null">
        SHRINK_IMG_URL = #{shrinkImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vo.Article">
    update article
    set TITLE = #{title,jdbcType=VARCHAR},
      `TYPE` = #{type,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=VARCHAR},
      SIMPLE_INTRODUCTION = #{simpleIntroduction,jdbcType=VARCHAR},
      VISIT_COUNT = #{visitCount,jdbcType=INTEGER},
      SHRINK_IMG_URL = #{shrinkImgUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>